<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h2>Gameplay</h2>
	<div class="game-play">
		<div class="menu">
			<button class="player-computer"> Player vs Computer</button>
			<button class="computer-computer"> Computer vs Computer</button>
		</div>
		<div class="status">
			<div id="result">
				<span class="text"></span>
				<button class="restart"> restart game </button>
			</div>
		</div>
	</div>
</body>
</html>
